html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #0072ff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

p {
  display: inline-block;
}


.todo-container {
  width: 250px;
  margin: 40px auto; 
}

.todo-input {
  width: 100%;
  margin: 0 auto;
  
}

.todo-input input {
  background-color: #0072ff;
  color: white;
}

.box {
  display: block;
  width: 100%;
  font-size: 1rem;  
  border: 1px solid white;
  font-weight: bold;
  padding: 14px 8px;
  margin-bottom: 15px;
}

.list {
  background-color: white;
  color: #0072ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  user-select: none;
}

.list.over {
  border: 2px dashed #000;
}

input::placeholder {
  color: #87bcff;
}

.todo-ul-list li{
  margin: 8px auto;
 }

 .drag {
   font-size: .6rem;
   transform: translateX(150%);
 }

 .list:hover .drag {
   transform: translateX(0);
   transition: transform 0.2s ease-in-out;
 }

 /*.drag:hover {
   visibility: visible;
 } */